# Change data formatting to a wide table

In [ ]:
import pandas as pd

df_iea = pd.read_csv('../data/raw/IEA Global EV Data 2024.csv')
df_iea.head()

In [8]:
df_wide = df_iea.pivot_table(
    index=['region', 'year', 'category', 'mode', 'powertrain'],
    columns='parameter',
    values='value',
    aggfunc='first'
).reset_index()

df_wide.columns = [col.lower().replace(' ', '_') for col in df_wide.columns]
df_wide.head()

,region,year,category,mode,powertrain,ev_charging_points,ev_sales,ev_sales_share,ev_stock,ev_stock_share,electricity_demand,oil_displacement_mbd,"oil_displacement,_million_lge"
0,Australia,2011,Historical,Cars,BEV,NaN,49.0,NaN,49.0,NaN,NaN,NaN,NaN
1,Australia,2011,Historical,Cars,EV,NaN,NaN,0.0065,NaN,0.00039,NaN,NaN,NaN
2,Australia,2012,Historical,Cars,BEV,NaN,170.0,NaN,220.0,NaN,NaN,NaN,NaN
3,Australia,2012,Historical,Cars,EV,NaN,NaN,0.0300,NaN,0.00240,NaN,NaN,NaN
4,Australia,2012,Historical,Cars,PHEV,NaN,80.0,NaN,80.0,NaN,NaN,NaN,NaN

In [10]:
df_wide.to_csv('../data/processed/iea_wide_format.csv', index=False)
print(f"Saved: {len(df_wide)} rows, {len(df_wide.columns)} columns")

Saved: 6464 rows, 13 columns